<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSMConnectionString"
            connectionString="Data Source=192.168.1.103,1433;Network Library=dbmssocn; Initial Catalog=GrupoSM; User ID=GrupoSM; Password=147369;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>